spring.datasource.url = jdbc:postgresql://192.168.15.65:5432/custom123
spring.datasource.username = custom
spring.datasource.password = custom
#spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto = update

# swagger-ui custom path
springdoc.swagger-ui.path=/swagger-ui.html

server.port = 8081


